#especial{
	família-fonte: impacto;
	tamanho da fonte: 30px;
	alinhamento de texto: centro;
	cor preta;

}

.bprincipal {
	cor de fundo: # 800000;
    cor branca;
    raio da borda: 40px;
    preenchimento: 15px 32px;
    alinhamento de texto: centro;
    decoração de texto: nenhum; / * sem linha no texto * /
    margem: 10px;
    display: bloco; / * importantíssimo * /
    tamanho da fonte: 16px;
    sombra da caixa: 0 8px 16px 0 rgba (0,0,0,0.5), 0 6px 20px 0 rgba (0,0,0,0.15);
    
}

.bprincipal: hover {
    cor de fundo: rgb (221,105,80); 
    cor branca;
}

#meunome {
	
	cor: # DC143c;
	topo: 87%;
	posição: fixa;
	padding-left: 320px;
	família da fonte: Trattatello, fantasia;

}

rodapé{
	topo: 87%;
    posição: absoluta;
    inferior: 0;
    preenchimento: 1% 0% 0% 10%;

}

# l1
{
    flutuar: esquerda;
    largura: 60%;
    altura: 100%;
    preenchimento: 0% 0% 0% 10%;
}

# 12
{
    flutuar: esquerda;
    largura: 25%;
    altura: 100%;
}

.nome {
	família-fonte: impacto;
	decoração de texto: nenhum;

}

#teste {
cor: # 800000;
}

#especialexer {
	cor de fundo: # 800000;
	cor: rgb (221,105,80);
	tamanho da fonte: 30px;
	alinhamento de texto: centro;
}

#especialtarefas {
	cor de fundo: # 800000;
	cor: rgb (221,105,80);
	tamanho da fonte: 30px;
	
	alinhamento de texto: centro;
}

entrada
{
    largura: 100%;
    tamanho da fonte: 15px;
    alinhamento de texto: centro;
}

botão{
	cor de fundo: # 800000;
	cor branca;
	largura: 100px;
}

h2 {
	tamanho da fonte: 20px;
	alinhamento de texto: centro;
}


#textodesafio {
	cor de fundo: rgb (221,105,80);
	
	família-fonte: impacto;

}